.container {
	display: flex;
	flex-direction: column;

	box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
	background: #f6f7f9;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	padding: 10px;
}

.totalPrice {
	align-self: end;
}
.title {
	margin-bottom: 10px;
}
